.add-services form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-services form input,
textarea {
  width: 50%;
  margin-bottom: 10px;
}

h2 {
  color: rgb(21, 109, 209);
}
